

</body>

<footer>
  Ryan Durand 2021 <br>
  <a href="https://github.com/ryan-durand" target="_blank">
    <i class="fab fa-2x fa-github"></i>
  </a>
  <a href="https://www.linkedin.com/in/ryan-durand/" target="_blank">
    <i class="fab fa-2x fa-linkedin"></i>
  </a>
  <a href="mailto:ryandurand70@gmail.com">
    <i class="fas fa-2x fa-envelope"></i>
  </a>
</footer>

</html>
